[profile.default]
solc = "0.8.26"
optimizer = true
optimizer_runs = 10000
via_ir = true
evm_version = "cancun"
src = "src"
out = "out"
libs = ["lib"]

ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]

[rpc_endpoints]
tenderly = "${TENDERLY_RPC_URL}"
base = "${BASE_RPC_URL}"

[etherscan]
tenderly = { url = "${TENDERLY_VERIFIER_URL}", key = "${TENDERLY_VERIFIER_KEY}" }
base = { url = "${BASE_VERIFIER_URL}", key = "${BASE_VERIFIER_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[invariant]
show_metrics=true