[profile.default]
solc = "0.8.26"
optimizer = true
optimizer_runs = 6600
via_ir = true
evm_version = "cancun"
src = "src"
out = "out"
libs = ["lib"]
dynamic_test_linking = true

ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]

additional_compiler_profiles = [ { name = "no-opt", via_ir = false, optimizer = false }, { name = "opt", via_ir = true, optimizer = true} ]
compilation_restrictions = [
  { paths = "test/**", optimizer = false, via_ir = false }
]

[profile.ci]
# If test files are not optimized, their imports are also not optimized.
# This would result in ci failing when checking bytecode margin.
compilation_restrictions = [
  { paths = "test/**", optimizer = true, via_ir = true }
]

[profile.lite]
compilation_restrictions = [
  { paths = "**", optimizer = false, via_ir = false }
]

[rpc_endpoints]
tenderly = "${TENDERLY_RPC_URL}"
base = "${BASE_RPC_URL}"

[etherscan]
tenderly = { url = "${TENDERLY_VERIFIER_URL}", key = "${TENDERLY_VERIFIER_KEY}" }
base = { url = "${BASE_VERIFIER_URL}", key = "${BASE_VERIFIER_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options

[invariant]
show_metrics=true